# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Learn\cc\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
